.ui-calendar-main {
    margin: 2rem;
    width: min-content;
    display: flex;
    flex-direction: column;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 100%;   
    padding: 0rem 1rem; 
    box-sizing: border-box;
  }
  
  .icon {
    cursor: pointer;
  }
  
  .arrow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
   
    
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 2rem);
    gap: 0.5rem;
    margin-top: 1rem;
    justify-content: center; 
  }
  
  .calendar-day {
    height: 1rem;
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 10px;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .calendar-day:hover {
    background-color: #eee;
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .calendar-day.selected {
    background-color: #0b57d0; 
    color: white;
    transform: scale(1.1);
  }
  
  .calendar-day.empty {
    background-color: transparent;
    cursor: default;
  }
  .calendar-day.header {
    font-weight: bold;
    background: transparent;
    cursor: default;
  }
   .title {
    font-size: 18px;
  }
  /* Koyu Tema */
body.dark-theme .ui-calendar-main {
  margin: 2rem;
  width: min-content;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  color: #e0e0e0;
}

body.dark-theme .calendar-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0rem 1rem;
  box-sizing: border-box;
  color: #e0e0e0;
}

body.dark-theme .icon {
  cursor: pointer;
  color: #e0e0e0;
}

body.dark-theme .arrow-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  color: #e0e0e0;
}

body.dark-theme .calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 2rem);
  gap: 0.5rem;
  margin-top: 1rem;
  justify-content: center;
}

body.dark-theme .calendar-day {
  height: 1rem;
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 10px;
  transition: background-color 0.3s, transform 0.2s;
  color: #e0e0e0;
}

body.dark-theme .calendar-day:hover {
  background-color: #333;
  cursor: pointer;
  transform: scale(1.1);
}

body.dark-theme .calendar-day.selected {
  background-color: #0b57d0;
  color: white;
  transform: scale(1.1);
}

body.dark-theme .calendar-day.empty {
  background-color: transparent;
  cursor: default;
}

body.dark-theme .calendar-day.header {
  font-weight: bold;
  background: transparent;
  cursor: default;
  color: #e0e0e0;
}

body.dark-theme .title {
  font-size: 18px;
  color: #e0e0e0;
}
