.calendar {
  display: flex;
  height: 100vh;
  font-family: sans-serif;
  overflow-y: auto;
}

.calendar-left {
  width: 80px;
  border-right: 1px solid #dde3ea;
  font-size: 12px;
  color: #444746;
  min-height: 1500px;
}

.calendar-left p {
  height: 60px;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 6px;
}

.calendar-right {
  flex: 1;
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(25, 60px);
  position: relative;
  background: repeating-linear-gradient(
    to bottom,
    #fff,
    #fff 59px,
    #dde3eb 59px,
    #dde3eb 60px
  );
  min-height: 1500px;
}

.current-time-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: red;
  top: 540px;
  z-index: 10;
}

.event {
  background: #039be5;
  border-left: 8px solid #039be5;
  border-radius: 4px;
  padding: 4px;
  font-size: 12px;
  color: white;
  display: flex;
  align-items: center;
}