.calendar-main {
  display: flex;
  height: 100vh;
  font-family: sans-serif;
  overflow-y: auto;
  margin-top: 14px;
  border-radius: 12px;
}

.calendar-left {
  width: 60px;
  border-right: 1px solid #dde3ea;
  font-size: 12px;
  color: #70757a;
  min-height: 1500px;
  padding-top: 8px;
}

.calendar-left p {
  height: 60px;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 8px;
  transform: translateY(-7px);
}

.calendar-right {
  flex: 1;
  position: relative;
}

.grid-container {
  display: block;
  position: relative;
  background: 
    repeating-linear-gradient(
      to bottom,
      #dadce0 0px,
      #dadce0 1px,
      transparent 1px,
      transparent 60px
    );
  min-height: 1500px;
  margin-top: 8px;
}
.event:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.current-time-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: #ea4335;
  z-index: 10;
}

.current-time-line::before {
  content: '';
  position: absolute;
  left: -6px;
  top: -5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ea4335;
}

.event {
  background: #039be5;
  border-left: 4px solid #039be5;
  border-radius: 4px;
  padding: 6px 8px;
  font-size: 12px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  box-sizing: border-box;
}

.event .text p {
  margin: 0;
  line-height: 1.4;
}

.event .text p:first-child {
  font-weight: 500;
}

.event .text p:last-child {
  opacity: 0.9;
  font-size: 12px;
}

/*Koyu Tema*/
body.dark-theme .calendar-main {
  background-color: #1e1e1e;
  color: #e8eaed;
  border-color: #3c4043;
}

body.dark-theme .calendar-left {
  border-right: 1px solid #3c4043;
  color: #9aa0a6;
  background-color: #202124;
}

body.dark-theme .calendar-right {
  background-color: #1e1e1e;
}

body.dark-theme .grid-container {
  background:
    repeating-linear-gradient(
      to bottom,
      #3c4043 0px,
      #3c4043 1px,
      transparent 1px,
      transparent 60px
    );
}

body.dark-theme .event {
  background: #8ab4f8;
  border-left-color: #8ab4f8;
  color: #131314;
}

body.dark-theme .event:hover {
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.15);
}

body.dark-theme .current-time-line {
  background: #f28b82;
}

body.dark-theme .current-time-line::before {
  background: #f28b82;
}

body.dark-theme .calendar-left p {
  color: #c7ccc7;
}
