body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 350px;
  background: #f7f8fa;
  border-right: 1px solid #ddd;
  overflow-y: hidden;
  overflow-x: hidden;
}

.main {
  flex: 1;
  overflow-y: hidden;
  overflow-x: hidden;
}