body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;

  user-select: none;
}

.logo {
  height: 6rem;
  padding: 1rem;
}

.logo.vanilla {
  filter: grayscale(100%);
}

.card {
  margin-top: 2rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

body::-webkit-scrollbar {
  display: none;
}

.app-container {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sidebar {
  width: 30%;
  background: #f7f8fa;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.main {
 width: 70%;
  background: #fff;
  overflow-y: auto;
}
